/* Simple  */
.simple-layout {
    height: 100%;
    width: 100%;
    position: relative;
}

.simple-layout .transition-frame {
    height: 100%;
    width: 100%;
}

.simple-layout .layout-content,
.simple-layout .transition-frame{
    height: 100%;
    width: 100%;
}

/* Windows Phone 8*/
.win8phone-layout {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.win8phone-layout .load-panel.dx-loadpanel-content {
    background: transparent;
    border: none;
}

.win8phone-layout .layout-content {
    position: absolute;
    top: 35px;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.win8phone-layout .layout-content > div {
    height: 100%;
    width: 100%;
}

.win8phone-layout .view-content {
    position: absolute;
    height: 100%;
    width: 100%;
}

.win8phone-layout .layout-frame {
    height: 100%;
    width: 100%;
}
.win8phone-layout.has-toolbar-bottom .layout-frame,
.win8phone-layout .has-toolbar-bottom.layout-frame {
    height: auto;
    top: 0;
    bottom: 60px;
    position: absolute;
}

.win8phone-layout.has-toolbar-bottom .layout-footer {
    position: static;
}

/* navigation */
.win8phone-layout .navigation-list.dx-list .dx-list-item .dx-navigation-item {
	line-height: 24px;
	height: 24px;
}

.win8phone-layout .navigation-list.dx-list .dx-list-item .dx-icon {
	float: left;
	margin-right: 15px;
	-moz-background-size: 100%;
	-o-background-size: 100%;
	-webkit-background-size: 100%;
	background-size: 100%;
	width: 24px;
	height: 24px;
}

.win8phone-layout .dx-toolbar.layout-toolbar-bottom {
    position: absolute;
    bottom: 0;
    margin-bottom: 0;
}

.win8phone-layout .dx-toolbar.layout-toolbar-bottom.semi-hidden {
    margin-bottom: -20px;
}

.win8phone-layout .dx-toolbar.layout-toolbar-bottom.with-transition {
    -webkit-transition: margin-bottom .2s;
    -moz-transition: margin-bottom .2s;
    -o-transition: margin-bottom .2s;
    transition: margin-bottom .2s;
}

.win8phone-layout .dx-active-view.load-panel,
.win8phone-layout .dx-active-view .load-panel {
    top: 50%;
    left: 50%;
    position: absolute;
}