<?xml version="1.0"?>
<widget
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:gap="http://phonegap.com/ns/1.0"
    id=""
    versionCode="100"
    version="0.1.0.0">
   
    <name>Mobile Sales</name>

    <description>
        Simple app 
    </description>

    
    <preference name="phonegap-version" value="2.9.0" />
    <preference name="target-device" value="handset" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="permissions" value="none"/>

    <!-- Android icons -->

    <!-- iPhone icons -->

    <!-- Android splashes -->

    <!-- iPhone splashes -->
</widget>